<div class="container">
  <form [formGroup]="timeForm" (ngSubmit)="send()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text"
             appUnique
             formControlName="firstName"
             class="form-control"
             id="firstName"
             aria-describedby="firstName"
             placeholder="Enter first name">
      <small id="emailHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
      <small *ngIf="firstName.invalid" class="form-text text-danger">Validation msg</small>
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="text"
             formControlName="date"
             class="form-control"
             id="date"
             aria-describedby="date"
             placeholder="mm/dd/yyyy">
    </div>
    <small *ngIf="date.pending" class="form-text">Validation in process...</small>
    <h5>Start time</h5>
    <div style="padding-left: 1em;">
      <div class="form-group">
        <label for="startHour">Hour:</label>
        <select formControlName="startHour" class="form-control" id="startHour">
          <option value="0">Choose one...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
      <div class="form-group">
        <label for="startMinutes">Minutes:</label>
        <select formControlName="startMinute" class="form-control" id="startMinutes">
          <option value="0">Choose one...</option>
          <option value="00">00</option>
          <option value="05">05</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="40">40</option>
          <option value="45">45</option>
          <option value="50">50</option>
          <option value="55">55</option>
        </select>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="startRadio" class="form-check-input" name="startRadio" type="radio" id="startAm" value="am">
        <label class="form-check-label" for="startAm">am</label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="startRadio" class="form-check-input" name="startRadio" type="radio" id="startPm" value="pm">
        <label class="form-check-label" for="startPm">pm</label>
      </div>
    </div>
    <h5>End time</h5>
    <div style="padding-left: 1em;">
      <div class="form-group">
        <label for="endHour">Hour:</label>
        <select formControlName="endHour" class="form-control" id="endHour">
          <option value="0">Choose one...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>

      <div class="form-group">
        <label for="endMinutes">Minutes:</label>
        <select formControlName="endMinute" class="form-control" id="endMinutes">
          <option value="0">Choose one...</option>
          <option value="00">00</option>
          <option value="05">05</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="40">40</option>
          <option value="45">45</option>
          <option value="50">50</option>
          <option value="55">55</option>
        </select>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="endRadio" class="form-check-input" name="endRadio" type="radio" id="endAm" value="am">
        <label class="form-check-label" for="endAm">am</label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="endRadio" class="form-check-input" name="endRadio" type="radio" id="endPm" value="pm">
        <label class="form-check-label" for="endPm">pm</label>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button (click)="reset()" class="btn btn-danger">Reset</button>
  </form>
</div>
